@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "./common/index.css";


html, body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
1. Найти цвета темный темы и светлой на сайте archakov.dev
2. Это создать переменный для светлой темы внутри :root свойства, например --app-light: #ffffff
3. Это создать переменный для темной темы внутри .wrapper.dark свойства --app-darken-1: #192028
4. Перейти в компонент WidePost.vue
5. Воспользоваться вот таким синтексисом: background-color: var(--app-darken-1);
6. Название цветом можно подобрать тут https://vuetifyjs.com/en/styles/colors/#material-colors
*/

:root {
    --app-main: #ffffff;
    --app-main-title: #000000;
    --app-main-description: #000000;
    --app-main-info-tag: #000000;
    --app-header-menu-text:#0a3465;
    --app-background-color: #f7f8f8;
    --app-link-color: #0a3465;
    --app-border-color: #eae8e8;
}

.wrapper.dark {
    --app-main: #192028;
    --app-main-title: #F0F4F9;
    --app-main-description: #ffffff;
    --app-main-info-tag: #ffffff;
    --app-header-menu-text:#c2c2c2;
    --app-background-color: #0e141b;
    --app-link-color: #6c94e8;
    --app-border-color: transparent
}

.wrapper {
    min-height: 100vh;
    background-color: var(--app-background-color);
    transition: background-color ease-out 0.3s;
}

.container{
    width: 100%;
    max-width: 1025px;
    margin: 0 auto;
}

/* Заголовки */
h1, h2, h3, h4, h5, h6 {
    color: var(--app-main-title);
}

/* Абзацы */
p {
    color: var(--app-main-title);
}

/* Списки */
ol, ul {
    color: #333;
}

li {
    color: #afafaf;
}

/* Цитаты */
blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    color: #999;
}

/* Код */
code {
    background: #f8f8f8 !important;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    background-color: #f8f8f8;
    padding: 16px;
    border-radius: 4px;
    overflow: auto;
}

/* Ссылки */
a {
    color: #1cb891;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Изображения */
img {
    max-width: 100%;
    height: auto;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Горизонтальная линия */
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 16px 0;
}

/* Дополнительные элементы */
details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}
